In [128]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

sns.set_style("darkgrid")

In [129]:
os.getcwd()

'C:\\Users\\alexm\\Desktop\\Python'

In [130]:
df = pd.read_csv("netflix_data\\netflix_titles.csv")

In [131]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [132]:
df.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [133]:
df.sample(7, random_state=12345)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4632,s4633,TV Show,The Good Cop,NaN,"Tony Danza, Josh Groban, Monica Barbaro, Isiah...",United States,"September 21, 2018",2018,TV-14,1 Season,"Crime TV Shows, TV Comedies, TV Dramas","When he's not solving murders, a pathologicall..."
15,s16,TV Show,Dear White People,NaN,"Logan Browning, Brandon P. Bell, DeRon Horton,...",United States,"September 22, 2021",2021,TV-MA,4 Seasons,"TV Comedies, TV Dramas",Students of color navigate the daily slights a...
3102,s3103,Movie,Sweetheart,J.D. Dillard,"Kiersey Clemons, Emory Cohen, Hanna Mangan Law...",United States,"December 25, 2019",2019,PG-13,83 min,"Horror Movies, Sci-Fi & Fantasy, Thrillers",A woman shipwrecked on a remote island discove...
8781,s8782,Movie,Yo-Kai Watch: The Movie,Mark Risley,"Johnny Yong Bosch, Joey D'Auria, Alicyn Packar...","Japan, United States","December 1, 2016",2016,TV-Y7,96 min,"Anime Features, Children & Family Movies",Nate's special Yo-Kai Watch is missing. He tra...
7829,s7830,Movie,Ramen Shop,Eric Khoo,"Takumi Saitoh, Seiko Matsuda, Mark Lee, Jeanet...","Singapore, Japan, France","July 31, 2019",2018,TV-PG,90 min,"Dramas, International Movies",Ramen chef Masato travels to Singapore to retr...
1770,s1771,Movie,Wheels of Fortune,Shaun Paul Piccinino,"Matt Jones, Noureen DeWulf, John Ducey, Matty ...",United States,"November 1, 2020",2020,R,107 min,"Comedies, Sports Movies","To claim a big inheritance, a down-on-his-luck..."
8296,s8297,Movie,The Fighter,David O. Russell,"Mark Wahlberg, Christian Bale, Amy Adams, Meli...",United States,"January 13, 2019",2010,R,116 min,"Dramas, Sports Movies","After a string of defeats, a boxer rediscovers..."

In [134]:
df.shape

(8807, 12)

In [135]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [136]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 8.5 MB

In [137]:
sdf.describe().round(2)

NameError: name 'sdf' is not defined

In [ ]:
df.isna().sum().sort_values(ascending=False)

In [ ]:
df['director'].fillna('unknown director', inplace=True)

In [ ]:
df['director'].isna().sum()

In [ ]:
df['country'].fillna('unknown country', inplace=True)

In [ ]:
df['country'].isna().sum()

In [ ]:
df['cast'].fillna('unknown cast', inplace=True)

In [ ]:
df['cast'].isna().sum()

In [ ]:
df.dropna(subset=['date_added','rating','duration'], inplace=True)

In [ ]:
df.isna().sum()

In [ ]:
df.duplicated().sum()

In [ ]:
df = df.assign(
    date_added = df['date_added'].astype('datetime64'),
    date_added_year = lambda x: x['date_added'].dt.year,
    date_added_month = lambda x: x['date_added'].dt.month
)

In [ ]:
df.head()

In [ ]:
type_pivot = df.pivot_table(
    index='date_added_year',
    columns='type',
    values='title',
    aggfunc='count'
     # margins=True
).fillna(0).astype('int64')

type_pivot

In [ ]:
fig, ax = plt.subplots(figsize=(10,7))

ax.plot(
    type_pivot.index,
    type_pivot['Movie'],
    color='red',
    label='Movie',
    ls='-',
    linewidth=2.5
)

ax.plot(
    type_pivot.index,
    type_pivot['TV Show'],
    color='blue',
    label='TV Show',
    ls='--',
    linewidth=2.5
)

ax.set_title('Movie vs. TV shows in 2008-2021', fontsize=16)
ax.set_xlabel('Year', fontsize=14)
ax.set_ylabel('# of Titles', fontsize=14)

ax.axvline(2020, color='grey', ls=":", linewidth=2.2)

ax.text(2017.5, 800,
        'Start of COVID â†’',
        fontsize=12)
ax.legend(bbox_to_anchor=(.63,-.1), ncol=2);

In [ ]:
fig, ax = plt.subplots()

type_color = ['blue','cyan']

df.groupby('type')['title'].count() \
.plot.pie(
    ylabel='',
    colors=type_color,
    startangle=90,
    autopct='%1.1f%%',
    figsize=(6,6),
    fontsize=12
)

plt.title('The % of TV Shows and Movies',
          y=0.93,
          fontsize=16);

In [ ]:
df.groupby('type')['title'].count()

In [ ]:
df.head()

In [ ]:
month_df = df.groupby('date_added_month').agg(number_of_content=('title','count')).reset_index()

In [ ]:
month_df

In [ ]:
fig, ax = plt.subplots(figsize=(10,7))

sns.barplot(
    x='date_added_month',
    y='number_of_content',
    data=month_df
)

ax.set_title(
    'The No. of Titles by Month',
    fontsize=16
)

ax.set_xlabel(
    'Month',
    fontsize=12
)

ax.set_ylabel(
    'No. of Titles',
    fontsize=12
);

In [138]:
rating_df = df.groupby('rating') \
.agg(number_of_titles=('title','count')) \
.sort_values('number_of_titles', ascending=False) \
.reset_index()

rating_df

      rating  number_of_titles
0      TV-MA              3207
1      TV-14              2160
2      TV-PG               863
3          R               799
4      PG-13               490
5      TV-Y7               334
6       TV-Y               307
7         PG               287
8       TV-G               220
9         NR                80
10         G                41
11  TV-Y7-FV                 6
12        UR                 3
13     NC-17                 3
14    74 min                 1
15    84 min                 1
16    66 min                 1

In [139]:
rating_df.head()

  rating  number_of_titles
0  TV-MA              3207
1  TV-14              2160
2  TV-PG               863
3      R               799
4  PG-13               490